<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataJuggler.Core.RandomShuffler" version="1.2.6" targetFramework="net472" />
  <package id="DataJuggler.Core.UltimateHelper" version="1.5.0" targetFramework="net472" />
  <package id="DataJuggler.PixelDatabase.Net" version="1.2.2" targetFramework="net472" />
  <package id="Memory.dll.x64" version="1.2.23" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
</packages>